.Toolbar {
  display: flex;
  position: fixed;
  height: 56px;
  width: 100%;
  left: 0;
  top: 0;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  z-index: 90;
  background-color: #703B09;
  padding: 0 1rem;

}

.Toolbar nav {
  height: 100%;
}

.Logo {
  height: 80%;
}

@media(max-width:499px){
  .Desktop{
    display: none;
  }
}
